
$comp_topbar_height: 60px;

.comp-topbar {
  height: 64$comp_topbar_height;
  padding: 0px 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 1px 1px #eeeeee;
}

.comp-topbar-logo {
  height: $comp_topbar_height;
  width: 110px;
  float: left;
  line-height:$comp_topbar_height;
  overflow: hidden;
}

.comp-topbar-profile {
  height: $comp_topbar_height;
  width: auto;
  max-width: 240px;
  float: right;
  line-height:$comp_topbar_height;
  child-align: right;
}

.comp-topbar-menu {
  height: $comp_topbar_height;
  margin: 0px 242px 0px 112px;
  padding-top: 0px;
}