
.comm-operation {
  height: 64px;
  line-height: 64px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.comm-content {
  margin: 0px 10px 10px 10px;
}

.comm-no-boder {
  border: none;
}