.index-header{
  height: 40px;
  background-color: #eeeeee;
}

.index-logo{
  height:40px;
  width: 100px;
  background-color: #22bb5b;
  padding: 10px;
  float: left;
}

.index-profile{
  height:40px;
  width: 150px;
  background-color: #cc8b00;
  padding: 10px;
  float: right;
}

.index-menu{
  height:40px;
  margin-left: 102px;
  margin-right: 152px;
  background-color: #cc8b00;
}



.index-frame{
  border: 0px;
  width:100%;
  height:100%;
}