@charset "UTF-8";

.comp-mask-parent {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background-color:rgba(0,0,0,0.3);
    display:none;
}

.comp-mask-container {
    width:100px;
    height:100px;
    background-color:#FF0;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0);
    display:block;
}

.comp-mask-gif {
    width:100px;
    height:100px;
}

.comp-mask-show {
    display: block;
}